# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Projeto ALG2/Banco/Banco.cbp
Projeto ALG2/Banco/Banco.depend
Projeto ALG2/Banco/Banco.layout
Projeto ALG2/exercicio1/Revisandoc_inicial.depend
Projeto ALG2/exercicio1/Revisandoc_inicial.cbp
